version: '4'

services:
  keycloak:
    image: quay.io/keycloak/keycloak:25.0.0
    command: ["start-dev"]
    ports:
      - "8080:8080"
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
